.playlist-index {
  float: left;
}

.hide {
  display: none;
}

.subscription-index {
  float: left;
  .primary-action-button {
    margin-right: 10px;
    display: inline-block;
  }

  .icon-container {
    background-color: $teal-50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .loading-spinner {
    width: 10px;
    height: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
  }

  .center-icon {
    transform: translate(50%, 50%);
  }

  .discard-changes-button {

  }

  .subscription-index--header {
    display: inline-block;
  }

  .subscription-index--loading-icon {
    display: inline-block;
    margin-left: 20px;
  }
}

.subscription-item {
  .subscription-item--toggle {
    margin-right: 10px;
    display: inline-block;
  }

  .subscription-item--label {
    display: inline-block;
    position: relative;
    top: -2px;
  }
}
