.playlist-index {
  float: left;
}

.hide {
  display: none;
}

.ajax-success {
  width: 30px;
  background-color: $green-500;
  height: 30px;
  border-radius: 25px;
}

.subscription-index {
  float: left;
  .primary-action-button {
    margin-right: 10px;
    display: inline-block;
  }

  .subscription-index--action-buttons {
    margin-top: 10px;
  }

  .icon-container {
    background-color: $teal-50;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .loading-spinner {
    width: 10px;
    height: 10px;
    border-top: 3px solid black;
    border-right: 3px solid black;
  }

  .center-icon {
    transform: translate(50%, 50%);
  }

  .discard-changes-button {

  }

  .subscription-index--header {
    display: inline-block;
  }

  .subscription-index--loading-icon {
    display: inline-block;
    margin-left: 20px;
  }
}

.subscription-item {
  // padding: 0px 5px 0px 15px;
  // border-radius: 10px;
  // transition: background-color 0.2s ease;

  // &:hover {
  //   background-color: $orange-100;
  // }

  .subscription-item--contents {
    // TODO: This vertical center sucks
    // to vertically center the toggle/label
    // padding-top: 4%
  }

  .subscription-item--toggle {
    position: relative;
    margin-right: 10px;
    display: inline-block;
  }

  .subscription-item--label {
    display: inline-block;
    position: relative;
    top: -2px;
  }
}
